* {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.42857143;
  color: #2c3e50;
}

a {
  color: #18bc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}
